* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../assets/image/gotis.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color:rgb(94, 63, 63);
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.card h3 {
    margin-top: 10px;
}

.card p {
    margin-top: 10px;
    font-weight: normal;
}

#curiosidades-principal {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

#curiosidades-principal article {
    margin-bottom: 15px;
}

#curiosidades-principal img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
}

a {
    color: white;
    background-color: #8a8888;
    padding: 10px 15px;
    font-weight: oswald, sans-serif;
    text-decoration: none;
    border-radius: 5px;
}




h2 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(200, 200, 200);
}

#curiosidades img {
    width: 700px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 15px;
     Display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#curiosidades {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

#curiosidades article {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
    Width: 800px;

}

h2 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    color: rgb(255, 255, 255)
}

p{
    color: rgb(219, 130, 124);
    font-size: 18px;
}

footer {
    background-color:rgb(94, 63, 63);
}
